<h1>Welcome to my store</h1>

<%= link_to "Create new Product", new_product_path %>
<% @products.each do |product|%>
  <div class="productCard">
    <h4><%= product.title %></h4>
    <strong>$<%= product.price %></strong>
    <%= link_to "ver más", product_path(product.id) %>
  </div>
<% end %>